<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (error) { %>
      <div class='error'>
	<%= error %>
      </div>
    <% } %>
    <ul>
      <% for (article in articles) { %>
        <li><%= article.title %></li>
      <% } %>
    </ul>
  </body>
</html>
