<!DOCTYPE html>
<html>
  <% include inc/header.ejs %>
  <body>
    <h1><%= title %></h1>
    <% include inc/nav.ejs %>
    <ul>
      <li><a href="/new">Create new article</a></li>
      <li><a href="/articles">List articles</a></li>
    </ul>
  </body>
</html>
