
body
{
    padding: 50px;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a
{
  color: #00B7FF;
}

.navbar .navbar-nav > .active > a
{
  background-color: #f0f0f0;
}

.clickable-link:hover
{
    cursor: hand;
}

.tt-dataset-tags
{
    margin: 5px;
    padding: 5px;
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 4px;
}